<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="scrumfish.Stringifiers" type="Scrumfish.OData.Objects.TypeFactoryConfiguration, Scrumfish.OData.Objects"/>
  </configSections>
  <scrumfish.Stringifiers>
    <stringifiers>
      <stringifier typeName="System.Spatial.GeographyPoint, System.Spatial" stringiferName="Scrumfish.OData.Client.Spatial.GeographyPointStringifier, Scrumfish.OData.Client.Spatial"/>
    </stringifiers>
  </scrumfish.Stringifiers>
</configuration>